<div class="container my-3 p-4 rounded">
  <small id="warning-text" class="text-danger d-flex justify-content-end me-4" style="visibility:hidden;">* 請先選擇年份再選擇月份</small>
  <form action="/search" method="GET" class="row m-2">
    <!-- category options-->
    <div class="col-4">
      <select name="category" id="select-category" class="form-control" aria-label="select by category" onchange="form.submit()">
        <option value="All" {{#ifEqual 'All' category}}selected{{/ifEqual}}>所有類別</option>
        {{#each categoryList}}
        <option value="{{this.name}}" {{#ifEqual this.name ../category}}selected{{/ifEqual}}>{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <!-- year options-->
    <div class="col-4">
      <select name="year" id="select-year" class="form-control" aria-label="select by year" onchange="form.submit()">
        <option value="All" {{#ifEqual 'All' year}}selected{{/ifEqual}}>所有年份</option>
        {{#each yearList}}
        <option value="{{this}}" {{#ifEqual this ../year}}selected{{/ifEqual}}>{{this}} 年</option>
        {{/each}}
      </select>
    </div>
    <!-- month options-->
    <div class="col-4">
      <select name="month" id="select-month" class="form-control" aria-label="select by month" onchange="form.submit()">
        <option value="All" {{#ifEqual 'All' month}}selected{{/ifEqual}}>所有月份</option>
        {{#each monthList}}
        <option value="{{this}}" {{#ifEqual this ../month}}selected{{/ifEqual}}>{{this}} 月</option>
        {{/each}}
      </select>
    </div>
  </form>
  {{!-- total amount --}}
  <div class="my-2 me-4 fs-5 text-active text-end">Total Amount : <span class="fs-1 text-danger">{{totalAmount}}</span></div>
  {{!-- records table --}}
  <div class="mx-3">
    {{> message}}
  </div>
  <table class="table table-hover" id="table-records">
    <tbody>
      {{#each recordList}}
      <tr class="align-items-center">
        <td class="col-1 align-middle text-center fs-4 text-info"><i class="{{this.categoryId.icon}}"></i></td>
        <td class="col-7 align-middle">
          <div class="d-flex flex-row justify-content-between align-items-center">
            <div>
              <div>{{this.name}}</div>
              <small>{{this.date}}</small>
            </div>
            <div class="fs-5 me-2">{{this.amount}}</div>
          </div>
        </td>
        <td class="col-1 align-middle text-end">
          <a href="/records/{{this._id}}/edit">
            <button type="button" class="btn text-primary fs-5"><i class="fa-solid fa-pen-to-square"></i></button>
          </a>
        </td>
        <td class="col-1 align-middle">
          <form action="/records/{{this._id}}?_method=DELETE" method="post" class="form-delete form-{{ this._id }}">
            <button class="btn text-danger fs-5 btn-delete" type="submit" data-id="{{ this._id }}"><i class="fa-solid fa-trash-can btn-delete" data-id="{{ this._id }}"></i></button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div> 

<script src="/scripts/index.js"></script>