<div class="container my-5 p-4 rounded">
  <form action="/search" method="GET" class="row my-2">
    <!-- category options-->
    <div class="col-4">
      <select name="category" id="select-category" class="form-control" aria-label="select by category" onchange="form.submit()">
        <option value="All">所有類別</option>
        {{#each categoryList}}
        <option value="{{this.name}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <!-- year options-->
    <div class="col-4">
      <select name="year" id="select-year" class="form-control" aria-label="select by year" onchange="form.submit()">
        <option value="All">所有年份</option>
        {{#each yearList}}
        <option value="{{this}}">{{this}} 年</option>
        {{/each}}
      </select>
    </div>
    <!-- month options-->
    <div class="col-4">
      <select name="month" id="select-month" class="form-control" aria-label="select by month" onchange="form.submit()">
        <option value="All">所有月份</option>
        {{#each monthList}}
        <option value="{{this}}">{{this}} 月</option>
        {{/each}}
      </select>
    </div>
  </form>
  {{!-- total amount --}}
  <div class="my-2 fs-5 text-light text-end">Total Amount : <span class="fs-1 text-danger">{{totalAmount}}</span></div>
  {{!-- records table --}}
  <table class="table table-hover">
    <tbody>
      {{#each recordList}}
      <tr class="align-items-center table-dark">
        <td class="col-2 align-middle text-center fs-4 text-success"><i class="{{this.categoryId.icon}}"></i></td>
        <td class="col-6 align-middle">
          <div class="d-flex flex-row justify-content-between align-items-center">
            <div>
              <div>{{this.name}}</div>
              <div>{{this.date}}</div>
            </div>
            <div class="fs-5 me-2">{{this.amount}}</div>
          </div>
        </td>
        <td class="col-2 align-middle text-end">
          <a href="/records/{{this._id}}/edit">
            <button type="button" class="btn btn-outline-primary mx-0">Edit</button>
          </a>
        </td>
        <td class="col-2 align-middle">
          <form action="/records/{{this._id}}?_method=DELETE" method="post">
            <button class="btn btn-outline-danger mx-0" type="submit">Delete</button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>